@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: #c8abc834;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.image{
  position: relative;
}
.image::after{
  content: '';
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 120px 170px 200px rgba(0, 0, 0, 0.85),
  inset -110px -170px 200px rgba(0, 0, 0, 0.8)
}

.shadow{
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.6);
}

.bg-layers {
  -webkit-animation: filter-animation 4s infinite;
  animation: filter-animation 4s infinite;
}

.bg-scale {
  -webkit-animation: filter-animation 8s infinite;
  animation: filter-scale 8s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(45deg);
  }
  
  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(45deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes filter-scale {
  0% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.4);
  }
  100% {
      transform:scale(.8);
  }
}